In [1]:
a =1000
print(a)

1000

In [2]:
a = a + 5
print(a)

1005

In [5]:
a = 1e9
print(a)

1000000000.0

In [6]:
a = 75.25e1
print(a)

752.5

In [7]:
a = 3954e-3
print(a)

3.954

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
print(a[3])

4

In [10]:
n = 10
a = [0] *n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
a = [1,2,3,4,5,6,7,8,9]
print(a[3])
print(a[1 : 4])

4
[2, 3, 4]

In [3]:
array = [i for i in range(10)]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
array = [i for i in range(20) if i% 2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
array = [i * i for i in range(0, 10)]
print(array)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
array = []
for i in range(20):
    if i % 2 == 1:
        array.append(i)
        
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}
result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [5]:
data = 'Hello World'
print(data)

Hello World

In [6]:
data = "Don't you know \"Python\""
print(data)

Don't you know "Python"

In [8]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(a[3])
print(a[1 : 4])

4
(2, 3, 4)

In [14]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

key_list = data.keys()

value_list = data.values()

print(key_list)
print(value_list)

for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

In [16]:
data = set([1, 1, 2, 3, 4, 4, 5])
print(data)

{1, 2, 3, 4, 5}

n = int(input())
data = list(map(int, input().split()))

print(data)

In [20]:
n = int(input()) 
data = list(map(int, input().split()))

print(data)

5
30 50 30 60 70
[30, 50, 30, 60, 70]

In [21]:
a = 1
b = 2
print(a,b)
print(7, end=" ")
print(8, end=" ")

1 2
7 8

In [22]:
answer = 7
print(f"정답은 {answer}입니다.")

정답은 7입니다.

In [27]:
a = 50

if a >= 30:
    pass
else:
    print("a < 30")

In [28]:
result = 0

for i in range(1, 10):
    result += i
    
print(result)

45

In [29]:
def add(a, b):
    return a + b

print(add(3, 7))

10

In [30]:
def add(a, b):
    print('함수의 결과:', a+b)
    
add(3,7)

함수의 결과: 10

In [33]:
a = 10

def func():
    global a
    a += 1
    print(a)
    
func()

11

In [35]:
array = [1, 2, 3, 4, 5, 6, 7]

def func():
    array.append(8)
    print(array)
    
func()

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(lambda a,b: a+b, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]

re

In [38]:
result = sorted([9,1,8,5,4])
reverse_result = sorted([9,1,8,5,4], reverse=True)
print(result)
print(reverse_result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]